<div>
  <h1>Welcome, {{username}}</h1>
</div>

<div>
  <h3>Add Post</h3>
  <form id="postForm">
    <div>
      <label for="postTitle">Title</label>
      <input type="text" id="postTitle" />
    </div>
    <div>
      <label for="postContent">Post</label>
      <textarea name="postContent" id="postContent"></textarea>
    </div>
    <div>
      <button class="button" type="submit">Post</button>
    </div>
  </form>
</div>

<div>
  <h3>Previous Posts</h3>
  {{#if posts.length}}
    {{#each posts as |post|}}
      <div>
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div>
        <a href="/post/update/{{post.id}}"><button class="button">Edit Post</button></a>
      </div>
      <div>
        <button class="button" data-id="{{post.id}}">Delete</button>
      </div>
    {{/each}}
  {{/if}}
</div>

<script src="/public/js/posting.js"></script>