<div>
    <h1 class="title">{{title}}</h1>
    <h2 class="subtitle">By: {{user.username}} on {{format_date date_created}}</h2>
    <p>{{content}}</p>
</div>

{{#if comments}}
{{#each comments as |comment|}}
<div>
    <p>{{content}}</p>
    <p>From: {{user.username}}</p>
    <p>At: {{format_date date_created}}</p>
</div>
{{#if (same_user ../loggedIn comment.user_id)}}
<div>
    <button id="commentDelete" class="button" data-id="{{comment.id}}">Delete</button>
</div>
{{/if}}
{{/each}}
{{/if}}

<form id="commentForm">
    <h3>Add a Comment:</h3>
    <div>
        <textarea name="commentInput" id="commentInput" placeholder="Start comment here..."></textarea>
        <button type="submit" class="button">Add Comment</button>
    </div>
</form>

{{#if (same_user loggedIn user.id)}}
<div>
    <a href="/post/update/{{id}}"><button class="button">Edit</button></a>
</div>

<script src="/public/js/comment.js"></script>