<div class="section has-text-centered card">
    <h1 class="title">{{title}}</h1>
    <p class="subtitle">By:
        {{post.user.username}}
        on
        {{format_date date_created}}</p>
    <p class="is-size-4 card-content">{{content}}</p>
</div>

{{#if comments}}
{{#each comments as |comment|}}
<div class="has-text-centered section">
    <div>
        <h2 class="subtitle is-size-3">Comments</h2>
    </div>
    <p class="card-content">{{content}}</p>
    <div>
        <p class="has-text-right">From:
            {{user.username}}
            At:
            {{format_date date_created}}</p>
    </div>
</div>
{{#if (same_user loggedIn comment.user_id)}}
<div>
    <button id="commentDelete" class="button" data-id="{{comment.id}}">Delete</button>
</div>
{{/if}}
{{/each}}
{{/if}}

<form class="section" id="commentForm">
    <h3>Add a Comment:</h3>
    <div>
        <textarea class="textarea" id="commentInput" placeholder="Start comment here..."></textarea>
        <button type="submit" class="button">Add Comment</button>
    </div>
</form>

{{#if (same_user loggedIn user.id)}}
<div>
    <a href="/post/update/{{id}}"><button class="button">Edit</button></a>
</div>
{{/if}}

<script src="/js/comment.js"></script>