<div>
    <h1 class="title">{{postData.title}}</h1>
    <h2 class="subtitle">{{postData.user.username}}</h2>
    <p>{{postData.post_input}}</p>
    <p>{{postData.createdAt}}</p>
</div>

{{#each postData.comments}}
<div>
    <p>{{comment_input}}</p>
    <p>From: {{user.username}}</p>
    <p>At: {{createdAt}}</p>
</div>
{{/each}}

<form id="commentForm">
    <h3>Add a Comment:</h3>
    <div>
        <textarea name="commentInput" id="commentInput" placeholder="Start comment here..."></textarea>
        <button type="submit" class="button">Add Comment</button>
    </div>
</form>

<script src="/public/js/comment.js"></script>