<div class="section has-text-centered card">
    <h1 class="title">{{title}}</h1>
    <p class="subtitle">By:
        {{user.username}}
        on
        {{format_date date_created}}</p>
    <p class="is-size-4 card-content">{{content}}</p>
</div>

{{#if comments}}
    <div>
        <h2 class="subtitle is-size-3 has-text-centered">Comments</h2>
    </div>
{{#each comments as |comment|}}
<div class="has-text-centered card mt-3">
    <p class="card-content">{{content}}</p>
    <div>
        <p class="has-text-left">From:
            {{comment.user_id.username}}
            At:
            {{format_date date_created}}</p>
{{#if (same_user loggedIn comment.user_id)}}
<div class="has-text-right">
    <button id="commentDelete" class="button" data-id="{{comment.id}}">Delete</button>
</div>
{{/if}}
    </div>
</div>
{{/each}}
{{/if}}

<form class="section" id="commentForm">
    <h3 class="label">Add a Comment:</h3>
    <div>
        <textarea class="textarea" id="commentInput" placeholder="Start comment here..."></textarea>
        <button type="submit" class="button mt-4">Add Comment</button>
    </div>
</form>

{{#if (same_user loggedIn user.id)}}
<div>
    <a href="/post/update/{{id}}"><button class="button">Edit</button></a>
</div>
{{/if}}

<script src="/js/comment.js"></script>