<div class="section has-text-centered card">
    <h1 class="title">{{title}}</h1>
    <p class="subtitle">By:
        {{user.username}}
        on
        {{format_date date_created}}</p>
    <p class="is-size-4 card-content">{{content}}</p>
    {{#if (same_user loggedIn user_id)}}
    <div class="has-text-right">
        <a href="/post/update/{{id}}"><button class="button has-background-info has-text-white">Edit</button></a>
    </div>
    {{/if}}
</div>

{{#if comments}}
<div>
    <h2 class="subtitle is-size-3 has-text-centered">Comments</h2>
</div>
{{#each comments as |comment|}}
<div class="has-text-centered card has-background-light my-3">
    <p class="card-content">{{content}}</p>
    <div class="card-footer mb-3">
        <p class="card-footer-item">From: {{user.username}} </p>
        <p class="card-footer-item">On:{{format_date date_created}}</p>
        {{#if (same_user ../loggedIn comment.user_id)}}
        <button id="commentDelete" class="card-footer-item button is-ghost has-text-danger"
            data-id="{{comment.id}}">Delete</button>
        {{/if}}
    </div>
</div>
<div class="has-background-white py-1"></div>
{{/each}}
{{/if}}

<form class="section" id="commentForm">
    <h3 class="label">Add a Comment:</h3>
    <div>
        <textarea class="textarea" id="commentInput" placeholder="Start comment here..."></textarea>
        <button type="submit" class="button mt-4 has-background-info has-text-white">Add Comment</button>
    </div>
</form>

<script src="/js/comment.js"></script>